<div class="container-outer">
  <div class="container-inner">
    <div class="header">
      <h6 class="">Complete!</h6>
    </div>
    <div class="content content-center">
      <p>Go to the desktop.</p>
      <a href="/dashboard"><button class="button">Open Desktop</button></a>
    </div>
  </div>
</div>
