<div class="container-complete">
  <div class="container-inner">
    <div class="header">
      <h6 class="">Login Successful!</h6>
    </div>
    <div class="content">
      <a href="/dashboard"><button class="button">Open Desktop</button></a>
    </div>
  </div>
</div>
