<div class="container-outer">
  <div class="container-inner">
    <div class="header">
      <h6 class="title">Welcome to Snippets 98.</h6>
      <div>
        <button class="info">I</button>
        <button class="close">X</button>
      </div>
    </div>
    <div class="content">
      <div class="image-section">
        <img src="" alt="" />
      </div>
      <div class="form-container">
        <p>Type a user name and password to log on to Snippets 98.</p>
        <form class="form" action="/auth/login" method="POST">
          <input
            class="email"
            type="email"
            name="email"
            id="email"
            ,
            placeholder="email"
          />
          <input
            class="pass"
            type="password"
            name="password"
            id="password"
            placeholder="password"
          />
          <button class="button" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
