<div class="container-fluid">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
    <a
      href="/dashboard"
      class="col-md-2 d-flex align-items-center mb-3 mb-md-0 me-md-auto text-pri text-decoration-none fw-bold fs-2"
    >
      <img class="logo mx-2" src="/img/coding.png" alt="" />Snippets.
    </a>

    <div>
      <a href=""
        ><button class="btn btn-outline-primary">Snippet Mode</button></a
      >
      <a href=""><button class="btn btn-outline-primary">To-do Mode</button></a>
    </div>

    <!-- <form
      action="/dashboard/search"
      class="nav col-12 col-md-auto flex-fill mb-2 justify-content-center mb-md-0"
      role="search"
      method="post"
    >
      <input
        type="search"
        name="searchTerm"
        class="form-control border-primary"
        placeholder="Search..."
        aria-label="search"
      />
    </form> -->

    <div class="col-md-2 text-end">
      <a href="/logout" class="btn btn-outline-primary me-2">Logout</a>
    </div>
  </header>
</div>
