<div class="icon-container">
  <a href="" class="home">
    <img class="logo mx-2" src="/img/icons/System(2).ico" alt="" />
    <p>Desktop</p>
  </a>
  <a href="/dashboard">
    <img class="logo mx-2" src="/img/icons/My Documents.ico" alt="" />
    <p>Snippets</p>
  </a>
  <a href="">
    <img class="logo mx-2" src="/img/icons/Notepad.ico" alt="" />
    <p>Notes</p>
  </a>
  <a href="" class="">
    <img class="logo mx-2" src="/img/icons/Power.ico" alt="" />
    <p>Logout</p>
  </a>
</div>
