<div class="container-fluid">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-pri text-decoration-none fw-bold fs-2"
    >
      <img class="logo mx-2" src="/img/coding.png" alt="" />Snippets.
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="/" class="btn-pri nav-link active" aria-current="page">Home</a>
      </li>
      <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
      <li class="nav-item">
        <a href="/features" class="nav-link">Features</a>
      </li>
      <li class="nav-item"><a href="/faq" class="nav-link">FAQs</a></li>
    </ul>

    <div class="col-md-2 text-end">
      <a href="/signup" class="btn btn-outline-primary me-2">Sign Up</a>
      <a href="/login" class="btn btn-primary">Sign In</a>
    </div>
  </header>
</div>
