<div class="add-container">
  <div class="container-inner">
    <div class="header">
      <h6 class="h3">Add Snippet</h6>
      <a href="/dashboard"><button>Go Back</button></a>
    </div>
    <div class="content">
      <form action="/dashboard/add" method="POST" class="position-relative">
        <div class="form-group mb-4" style="left: 1px; top: 1px; right: 1px">
          <input
            type="text"
            class="form-control fw-bold border-0 fs-4"
            id="title"
            name="title"
            placeholder="title"
            required
          />
        </div>
        <div class="form-group mb-4">
          <textarea
            name="body"
            id="body"
            placeholder="body"
            rows="5"
          ></textarea>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg">
            + Add Snippet
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="/js/codemirror/lib/codemirror.css" />
<script src="/js/codemirror/mode/javascript/javascript.js"></script>

<script>
  var editor = CodeMirror.fromTextArea(document.getElementById("body"), {
    lineNumbers: true,
    lineWrapping: true,
    mode: "javascript",
  });

  console.log(editor);
</script>
