<div class="content-container list">
  <div class="container-inner">
    <div class="header">
      <h5>Hey, <%= userName %></h5>
      <div class="col text-end">
        <!-- <a href="/dashboard/add" class="btn btn-primary">+ New Note</a> -->
        <button>X</button>
      </div>
    </div>
    <div class="content">
      <% if(snippets.length > 0){ %>
      <div class="list">
        <%for (let i = 0; i < snippets.length; i++) { %>
        <div class="card">
          <img src="/img/icons/TXT File.ico" alt="" />
          <a href="/dashboard/snippet/<%= snippets[i]._id %>" class="card-body">
            <h5 class="card-title"><%= snippets[i].title%></h5>
          </a>
        </div>
        <% } %>
      </div>
      <% } else { %>

      <div class="default-view">
        <h4>Let's add your first snippet!</h4>
        <a class="" href="/dashboard/add"><button>Create</button></a>
      </div>

      <% } %>
    </div>
  </div>
</div>
