<div class="py-md-5 mb-5">
  <main>
    <div class="row py-md-5 text-center justify-content-center">
      <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
        <h1 class="display-2 fw-bold mb-4 position-relative home-title">
          About Snippets.
        </h1>
        <h2 class="my-3">What is it?</h2>
        <p class="fs-4 mb-4">
          Snippets is a note-taking application for developers. Keep all those
          functions, styles, and other code snippets safe for when you need
          them.
        </p>
        <h2 class="my-3">Why is it?</h2>
        <p class="fs-4 mb-4">
          Remember exactly how you implemented that really elegent routing
          solution? Neither do I, but Snippets has it saved for you!
        </p>
        <h2 class="my-3">How is it?</h2>
        <p class="fs-4 mb-4">
          Simple sign up, or click below and login using your Google Account and
          you're set! It's as simple as that.
        </p>
        <a href="/auth/google" class="btn btn-primary btn-lg"
          >Try Snippets, it's free!</a
        >
      </div>
    </div>
  </main>
</div>
