<div class="hero py-md-5 mb-5">
  <main>
    <div class="row py-md-5 text-center justify-content-center">
      <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
        <h1 class="display-2 fw-bold mb-4 position-relative home-title">
          Keep all those code snippets in one safe place.
        </h1>
        <p class="fs-4 mb-4">
          Snippets is a vault for all your functions, styles and code snippets,
          so that they are ready when you need them.
        </p>
        <a href="/auth" class="btn btn-primary btn-lg"
          >Try Snippets, it's free!</a
        >
      </div>
    </div>
  </main>
</div>
