$light_one: #6ae0f8;
$light_two: #2eb1c9;
$mid: #00859b;
$dark_one: #005b70;
$dark_two: #003348;
$white: #e3e3e3;
$black: #202020;
$grey: #555555;

* {
  font-family: monospace;
  color: $dark_two;
  font-size: 1rem;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $dark_one;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.root {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 10px;
}

.container-login {
  height: 30vh;
  width: 50vw;
  background-color: #cdcdcd;
  border: 4px groove;
  .container-inner {
    padding: 2px;
    height: 100%;
    display: flex;
    flex-direction: column;
    .header {
      background-color: $dark_one;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px 0 10px;
      flex: 1;
      h6 {
        color: white;
        font-weight: bold;
        margin-bottom: 0;
      }
      div {
        display: flex;
        gap: 10px;
        button {
          height: 100%;
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            height: 20px;
          }
        }
      }
    }
    .content {
      display: flex;
      align-items: center;
      flex: 6;
      .image-section {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 100px;
        }
      }
      .form-container {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 10px;
        p {
          font-size: 0.8rem;
          width: 80%;
        }
        .form {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 80%;
          input {
            box-shadow: inset 0 0 2px rgb(33, 33, 33);
            padding: 1%;
          }
          button {
            width: 50%;
            margin-left: 50%;
          }
        }
      }
    }
  }
}
.container-complete {
  height: 20vh;
  width: 20vw;
  background-color: #cdcdcd;
  border: 4px groove;
  .container-inner {
    padding: 2px;
    height: 100%;
    display: flex;
    flex-direction: column;
    .header {
      background-color: $dark_one;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px 0 10px;
      flex: 1;
      h6 {
        color: white;
        font-weight: bold;
        margin-bottom: 0;
      }
      div {
        display: flex;
        gap: 10px;
        button {
          height: 100%;
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            height: 20px;
          }
        }
      }
    }
    .content {
      flex: 6;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      a {
        width: 75%;
        height: 30%;
        button {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
.list-container {
  margin: 10px;
  height: 90vh;
  width: 30vw;
  background-color: #cdcdcd;
  border: 4px groove;
  .container-inner {
    padding: 2px;
    height: 100%;
    display: flex;
    flex-direction: column;
    .header {
      background-color: $dark_one;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px 0 10px;
      flex: 1;
      h6 {
        color: white;
        font-weight: bold;
        margin-bottom: 0;
      }
      div {
        button {
          height: 100%;
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            height: 25px;
          }
        }
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: start;
      flex: 15;
      .default-view {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100%;
        align-items: center;
        justify-content: center;
        h4 {
          text-align: center;
        }
      }
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 100%;
        .form-group:nth-of-type(1) {
          flex: 1;
          display: flex;
          align-items: center;
        }
        .form-group:nth-of-type(2) {
          flex: 9;
          div {
            height: 100%;
            color: black;
          }
        }
        .form-group:nth-of-type(3) {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
      }
      .list {
        height: 100%;
        padding: 5px;
        width: 98%;
        .card {
          width: 100%;
          display: flex;
          align-items: center;
          padding: 0 10px 0 10px;
          gap: 20px;
          img {
            height: 20px;
          }
        }
      }
      .add-new {
        height: 5%;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
      }
    }
  }
}
.add-container {
  margin: 10px;
  height: 60vh;
  width: 50vw;
  background-color: #cdcdcd;
  border: 4px groove;
  .container-inner {
    padding: 2px;
    height: 100%;
    display: flex;
    flex-direction: column;
    .header {
      background-color: $dark_one;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px 0 10px;
      flex: 1;
      h6 {
        color: white;
        font-weight: bold;
        margin-bottom: 0;
      }
      div {
        button {
          height: 100%;
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            height: 25px;
          }
        }
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 15;
      .default-view {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100%;
        align-items: center;
        justify-content: center;
        h4 {
          text-align: center;
        }
      }
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 100%;
        .form-group:nth-of-type(1) {
          flex: 1;
          display: flex;
          align-items: center;
        }
        .form-group:nth-of-type(2) {
          flex: 9;
        }
        .form-group:nth-of-type(3) {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
      }
      .list {
        height: 100%;
        padding: 5px;
        .card {
          width: 100%;
          display: flex;
          align-items: center;
          padding: 0 10px 0 10px;
          gap: 20px;
          img {
            height: 20px;
          }
        }
      }
    }
  }
}
.view-container {
  margin: 10px;
  height: 90vh;
  width: 50vw;
  background-color: #cdcdcd;
  border: 4px groove;
  .container-inner {
    padding: 2px;
    height: 100%;
    display: flex;
    flex-direction: column;
    .header {
      background-color: $dark_one;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px 0 10px;
      flex: 1;
      h6 {
        color: white;
        font-weight: bold;
        margin-bottom: 0;
      }
      div {
        button {
          height: 100%;
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            height: 25px;
          }
        }
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 15;
      .default-view {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100%;
        align-items: center;
        justify-content: center;
        h4 {
          text-align: center;
        }
      }
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 100%;
        .form-group:nth-of-type(1) {
          flex: 1;
          display: flex;
          align-items: center;
        }
        .form-group:nth-of-type(2) {
          flex: 9;
        }
        .form-group:nth-of-type(3) {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
      }
      .list {
        height: 100%;
        padding: 5px;
        .card {
          width: 100%;
          display: flex;
          align-items: center;
          padding: 0 10px 0 10px;
          gap: 20px;
          img {
            height: 20px;
          }
        }
      }
    }
  }
}

.container-outer-model {
  height: 30vh;
  width: 30vw;
  background-color: #cdcdcd;
  border: 4px groove;
  .container-inner {
    padding: 2px;
    height: 100%;
    display: flex;
    flex-direction: column;
    .header {
      background-color: $dark_one;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      padding: 0 10px 0 10px;
      flex: 1;
      h6 {
        font-weight: bold;
        margin-bottom: 0;
      }
      div {
        button {
          height: 100%;
          width: 30px;
        }
      }
    }
    .content {
      display: flex;
      align-items: center;
      flex: 6;
      .image-section {
        flex: 1;
      }
      .form-container {
        flex: 2;
        p {
          font-size: 0.8rem;
        }
        .form {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 80%;
          input {
            box-shadow: inset 0 0 2px rgb(33, 33, 33);
            padding: 1%;
          }
          button {
            width: 50%;
            margin-left: 50%;
          }
        }
      }
    }
    .content-center {
      justify-content: center;
      flex-direction: column;
    }
  }
}

.icon-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80px;
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      height: 40px;
    }
    p {
      width: 100%;
      background-color: #00859b;
      color: white;
      text-align: center;
    }
  }
}

.width-full {
  width: 90%;
}
.hidden {
  display: none;
}

.show {
  display: block;
}

@media screen and (max-height: 600px) {
  .container-login {
    height: 60vh;
  }
  .container-complete {
    height: 30vh;
  }
}
